@model Customer.Models.ViewModel.ContactViewModel

@{
    ViewBag.Title = "客戶聯絡人列表";
}

<h2>@ViewBag.Title </h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contacts.First().職稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacts.First().姓名)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacts.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacts.First().手機)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacts.First().電話)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contacts.First().客戶資料.客戶名稱)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Contacts) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.職稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.手機)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.Id }) |
            @Html.ActionLink("詳細資訊", "Details", new { id=item.Id }) |
            @Html.ActionLink("刪除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div class="pager">
    @Html.PagedListPager(Model.Contacts, PageIndex => Url.Action("Index", new { PageIndex }))
</div>