@model Customer.Models.ViewModel.BankViewModel

@{
    ViewBag.Title = "客戶銀行列表";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Banks.First().銀行名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banks.First().銀行代碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banks.First().分行代碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banks.First().帳戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banks.First().帳戶號碼)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banks.First().客戶資料.客戶名稱)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Banks) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.銀行名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.銀行代碼)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.分行代碼)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.帳戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.帳戶號碼)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.Id }) |
            @Html.ActionLink("詳細資訊", "Details", new { id = item.Id }) |
            @Html.ActionLink("刪除", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
<div class="pager">
    @Html.PagedListPager(Model.Banks, PageIndex => Url.Action("Index", new { PageIndex }))
</div>